/*Video background setting*/
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
  background-size: cover;
  transition: 1s opacity;
}

/*Base content style*/
#base { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  /*
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  */
  margin: auto;
  width: 60%;
  padding: 10px;
  font-size: 2.0rem;
  /*font-size: 1.2rem;*/
}

/*Basic Navagation style*/
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: blue; /*BACKGROUND color for active*/
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: black; /*BACKGROUND color for active*/
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  color: yellow; /*BACKGROUND color for active*/
}

/*Stick footer without overlapping content*/
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}